 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 790px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 39px 919px 0 39px;
}

.u-section-1 .u-image-1 {
  width: 372px;
  height: 338px;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 254px;
  width: 663px;
  margin: 20px auto 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  --radius: 5px;
  background-image: none;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  background-image: none;
  --radius: 5px;
}

.u-section-1 .u-btn-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: none;
  --radius: 5px;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 612px;
  margin: 20px auto 58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 758px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 317px;
    margin-right: 118px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 538px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 215px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 358px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 35px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 158px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 309px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
    width: 340px;
  }
}