 .u-section-1 {
  min-height: 773px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 773px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto 0 26px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
  vertical-align: -2px;
  padding: 4px;
}

.u-section-1 .u-image-1 {
  width: 131px;
  height: 131px;
  background-image: url("../images/icons8--1001.png");
  background-position: 50% 50%;
  margin: 39px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 11px 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 39px 12px 0 9px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.1429em;
  color: rgb(255, 255, 255) !important;
  padding: 3px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px 12px 0 9px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.1429em;
  padding: 3px;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 21px 12px 0 9px;
}

.u-section-1 .u-icon-4 {
  font-size: 1.1429em;
  color: rgb(255, 255, 255) !important;
  padding: 3px;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px 13px 0 9px;
}

.u-section-1 .u-icon-5 {
  font-size: 1.1429em;
  padding: 3px;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 60px 17px 0;
}

.u-section-1 .u-icon-6 {
  font-size: 1.1429em;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 125px 10px 0;
}

.u-section-1 .u-icon-7 {
  font-size: 1.1429em;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 728px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  width: 91px;
  height: 77px;
  margin: 0 25px 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 0 577px 0 30px;
}

.u-section-1 .u-form-1 {
  height: 430px;
  width: 662px;
  margin: 30px auto 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  --radius: 5px;
  background-image: none;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  background-image: none;
  --radius: 5px;
}

.u-section-1 .u-text-10 {
  margin-left: 0;
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  --radius: 5px;
  background-image: none;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-input-4 {
  --radius: 5px;
  background-image: none;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-input-5 {
  background-image: none;
  --radius: 5px;
}

.u-section-1 .u-btn-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: none;
  --radius: 5px;
  font-weight: 700;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 615px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 637px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 600px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 1px;
    margin-right: 412px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 471px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 117px;
    height: 117px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 269px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 564px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 643px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 245px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 442px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 45px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}