 .u-section-1 {
  background-image: none;
  min-height: 591px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 591px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 591px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 1240px;
  height: 598px;
  margin: 0 auto 0 -434px;
}

.u-section-1 .u-btn-1 {
  --radius: 5px;
  font-weight: 700;
  margin: -277px 336px 0 auto;
  padding: 8px 33px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -135px 102px 0 186px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 487px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 127px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 127px;
  }

  .u-section-1 .u-image-1 {
    width: 611px;
    height: 295px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 26px;
    margin-right: 206px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 37px;
    margin-left: 121px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 373px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 97px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 373px;
  }

  .u-section-1 .u-image-1 {
    width: 468px;
    height: 226px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 63px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 899px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 430px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 603px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 131px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 271px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 164px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}