 .u-section-1 {
  min-height: 786px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 786px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto 0 26px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
  vertical-align: -2px;
  padding: 4px;
}

.u-section-1 .u-image-1 {
  width: 131px;
  height: 131px;
  background-image: url("/static/images/icons8--1001.png");
  background-position: 50% 50%;
  margin: 39px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 11px 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 39px 10px 0;
}

.u-section-1 .u-icon-2 {
  font-size: 1.1429em;
  color: rgb(255, 255, 255) !important;
  padding: 3px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px 10px 0;
}

.u-section-1 .u-icon-3 {
  font-size: 1.1429em;
  padding: 3px;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 21px 10px 0;
}

.u-section-1 .u-icon-4 {
  font-size: 1.1429em;
  color: rgb(255, 255, 255) !important;
  padding: 3px;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px 11px 0;
}

.u-section-1 .u-icon-5 {
  font-size: 1.1429em;
  padding: 3px;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 60px 17px 0;
}

.u-section-1 .u-icon-6 {
  font-size: 1.1429em;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 125px 10px 0;
}

.u-section-1 .u-icon-7 {
  font-size: 1.1429em;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 786px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  width: 91px;
  height: 77px;
  margin: 0 25px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 68px;
  width: 710px;
  margin: 1px auto 0;
}

.u-section-1 .u-input-1 {
  --radius: 5px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --radius: 5px;
  font-weight: 700;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 30px auto 0 30px;
}

.u-section-1 .u-table-1 {
  width: 941px;
  margin: 30px auto 0;
}

.u-block-63a9-91 {
  border-style: solid;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  letter-spacing: 0px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
  border-style: solid;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
  border-style: solid;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
  border-style: solid;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
  border-style: solid;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 700;
  border-style: solid;
}

.u-section-1 .u-table-cell-6 {
  font-weight: 700;
  border-style: solid;
}

.u-section-1 .u-table-body-1 {
  font-size: 1rem;
}

.u-section-1 .u-table-cell-12 {
  font-size: 1.125rem;
}

.u-section-1 .u-icon-8 {
  font-size: 1.0556em;
}

.u-section-1 .u-icon-9 {
  font-size: 1.1667em;
}

.u-section-1 .u-table-cell-19 {
  background-image: none;
}

.u-section-1 .u-table-cell-20 {
  background-image: none;
}

.u-section-1 .u-table-cell-21 {
  background-image: none;
}

.u-section-1 .u-table-cell-22 {
  background-image: none;
}

.u-section-1 .u-table-cell-23 {
  background-image: none;
}

.u-section-1 .u-table-cell-24 {
  background-image: none;
}

.u-block-63a9-117 {
  background-image: none;
}

.u-section-1 .u-group-elements-1 {
  width: 505px;
  min-height: 46px;
  height: auto;
  margin: 30px 233px 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  background-image: none;
  --radius: 5px;
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: -38px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 615px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 648px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 648px;
  }

  .u-section-1 .u-table-1 {
    width: 736px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-right: 116px;
    margin-left: 116px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 471px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 117px;
    height: 117px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 564px;
  }

  .u-section-1 .u-table-1 {
    width: 564px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 643px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-right: 18px;
    margin-left: 18px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 442px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }
}

 .u-dialog-section-8 .u-dialog-1 {
   width: 800px;
   height: auto;
   --radius: 5px;
   min-height: 225px;
   margin: 60px auto;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -75%);
 }

 .u-dialog-section-8 .u-container-layout-1 {
   padding: 30px 0;
 }

 .u-dialog-section-8 .u-text-1 {
   font-weight: 700;
   margin: 29px 58px 0;
 }

 .u-dialog-section-8 .u-group-elements-1 {
   width: 287px;
   height: auto;
   min-height: 46px;
   margin: 24px auto 0;
 }

 .u-dialog-section-8 .u-btn-1 {
   --radius: 5px;
   font-weight: 700;
   margin: 0 155px 0 0;
   padding: 10px 30px;
 }

 .u-dialog-section-8 .u-btn-2 {
   --radius: 5px;
   font-weight: 700;
   margin: -46px 0 0 auto;
   padding: 10px 30px;
 }

 .u-dialog-section-8 .u-icon-1 {
   width: 20px;
   height: 20px;
 }

 @media (max-width: 1199px) {
   .u-dialog-section-8 .u-text-1 {
     margin-left: 58px;
     margin-right: 58px;
   }

   .u-dialog-section-8 .u-group-elements-1 {
     width: 287px;
   }

   .u-dialog-section-8 .u-btn-2 {
     margin-top: -46px;
   }
 }

 @media (max-width: 991px) {
   .u-dialog-section-8 .u-dialog-1 {
     width: 720px;
   }

   .u-dialog-section-8 .u-text-1 {
     margin-left: 18px;
     margin-right: 18px;
   }
 }

 @media (max-width: 767px) {
   .u-dialog-section-8 .u-dialog-1 {
     width: 540px;
   }

   .u-dialog-section-8 .u-text-1 {
     margin-left: 0;
     margin-right: 0;
   }
 }

 @media (max-width: 575px) {
   .u-dialog-section-8 .u-dialog-1 {
     width: 340px;
   }
 }