spring:
  application:
    name: eurekaserver

  boot:
    admin:
      context-path: /admin

server:
  port: 8070

eureka:
  instance:
    hostname: eurekaserver
    #hostname: localhost


  client:
    registerWithEureka: false
    fetchRegistry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    waitTimeInMsWhenSyncEmpty: 5