spring:
  application:
    name: gatewayserver

#  cloud:
#    gateway:
#      discovery:
#        locator:
#          enabled: true
#        lowerCaseServiceId: true

server:
  port: 8072

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    service-url:
      #defaultZone: http://localhost:8070/eureka/
      defaultZone: http://eurekaserver:8070/eureka/