<section tabindex="-1" id="deleteTypeModal" role="dialog" th:fragment="delete-type" class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-dialog-section-8" >
    <div class="u-align-center u-border-2 u-border-grey-30 u-container-style u-dialog u-radius u-shape-round u-white u-dialog-1">
        <div class="u-container-layout u-container-layout-1">
            <p class="u-custom-font u-font-montserrat u-large-text u-text u-text-variant u-text-1">Вы уверены, что хотите удалить тип лицензии "<span style="font-weight:bold" th:text="${type.name}"></span>"?<br></p>
            <form th:action="@{/types/delete/{id}(id=${type.id})}" method="post">
                <div class="u-clearfix u-group-elements u-group-elements-1">
                    <button type="submit" class="u-btn u-btn-round u-button-style u-custom-color-10 u-custom-font u-font-montserrat u-hover-custom-color-12 u-radius u-btn-1" >Удалить </button>
                    <button type="button" data-dismiss="modal" class="u-btn u-btn-round u-button-style u-custom-color-10 u-custom-font u-font-montserrat u-hover-custom-color-12 u-radius u-btn-2">Отмена </button>
                </div>
            </form>
        </div>
        <button type="button" data-dismiss="modal" class="u-dialog-close-button u-icon u-text-grey-40 u-icon-1">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style="">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-efe9"></use>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-efe9">
                <rect x="7" y="0" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2" height="16"></rect>
                <rect x="0" y="7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16" height="2"></rect>
            </svg>
        </button>
    </div>
</section>

