 .u-section-1 {
  min-height: 935px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 935px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 19px 29px;
}

.u-section-1 .u-group-elements-1 {
  width: 211px;
  min-height: 572px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto 0 17px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
  vertical-align: -2px;
  padding: 4px;
}

.u-section-1 .u-image-1 {
  width: 131px;
  height: 131px;
  background-image: url("images/icons8--1001.png");
  background-position: 50% 50%;
  margin: 39px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0 2px;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 39px 1px 0 0;
}

.u-section-1 .u-icon-2 {
  font-size: 1.1429em;
  color: rgb(255, 255, 255) !important;
  padding: 3px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px 1px 0 0;
}

.u-section-1 .u-icon-3 {
  font-size: 1.1429em;
  padding: 3px;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 21px 1px 0 0;
}

.u-section-1 .u-icon-4 {
  font-size: 1.1429em;
  color: rgb(255, 255, 255) !important;
  padding: 3px;
}

.u-section-1 .u-text-6 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px 2px 0 0;
}

.u-section-1 .u-icon-5 {
  font-size: 1.1429em;
  padding: 3px;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px 2px 0 0;
}

.u-section-1 .u-icon-6 {
  font-size: 1.1429em;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 277px 10px 0;
}

.u-section-1 .u-icon-7 {
  font-size: 1.1429em;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 935px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 91px;
  height: 77px;
  margin: 30px 25px 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 1px 590px 0 30px;
}

.u-section-1 .u-image-3 {
  object-position: 50% 5.96%;
  height: 272px;
  width: 398px;
  margin: 31px auto 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 19px 78px 0;
}

.u-section-1 .u-form-1 {
  height: 356px;
  width: 570px;
  margin: 30px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  background-image: none;
  --radius: 5px;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  --radius: 5px;
  background-image: none;
}

.u-section-1 .u-btn-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: none;
  --radius: 5px;
  font-weight: 700;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 615px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 771px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 166px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 771px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 464px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 471px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 118px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 292px;
  }

  .u-section-1 .u-form-1 {
    width: 564px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 643px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 268px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 442px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 68px;
  }

  .u-section-1 .u-image-3 {
    height: 232px;
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}